:root {
  --accent-grey: #30363E;
  --accent-grey-light: #3D454C;
  --background-grey: #1F2328;
  --font-light: #A2B1BF;
  --font-dark: #6A7884;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  transition: 0.1s;
}

.container {
  background-color: var(--background-grey);
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

.name {
  color: var(--font-light);
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-grey);
  border-bottom: 1px solid var(--accent-grey);
  z-index: 10;
}

.links {
  width: 600px;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  color: var(--font-light);
}
.links i {
  padding-right: 3px;
}
.links p {
  display: inline-block;
  margin: 0;
}
.links div {
  border-radius: 5px;
  padding: 10px;
}
.links div:hover {
  background-color: var(--accent-grey);
}

.count {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--accent-grey-light);
  height: 20px;
  width: 30px;
  border-radius: 10px;
  padding-top: 4px;
  transform: translateY(-2px);
}

main {
  max-width: 1300px;
  margin: 80px auto 0;
  display: flex;
}

aside {
  position: relative;
  width: 400px;
  margin-right: 30px;
  margin-top: -30px;
}
aside .profile-pic {
  position: relative;
  border: 2px solid var(--accent-grey);
  border-radius: 50%;
  width: 100%;
  z-index: 20;
}
aside button {
  height: 30px;
  width: 100%;
  color: var(--font-light);
  background-color: var(--accent-grey);
  border: 1px solid var(--accent-grey-light);
  border-radius: 5px;
  font-weight: 700;
}
aside p {
  color: var(--font-dark);
}
aside .org-pic {
  width: 50px;
  border-radius: 7px;
  border: 1px solid var(--accent-grey-light);
}

.repos {
  width: 100%;
}

.repo {
  position: relative;
  border-bottom: 1px solid var(--accent-grey-light);
  padding: 20px 0;
}

.repo-link {
  font-size: 1.3rem;
  font-weight: 600;
  color: #428FEF;
}

.repo-link:hover {
  text-decoration: underline;
}

.privacy, .lang, .updated {
  display: inline-block;
  font-size: 0.8rem;
  color: var(--font-dark);
}

.privacy {
  font-weight: 700;
  padding: 3px 5px 1px;
  margin-left: 10px;
  transform: translateY(-2px);
  border: 1px solid var(--accent-grey-light);
  border-radius: 15px;
}

.lang-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.repo-buttons {
  position: absolute;
  top: 25%;
  right: 0;
  border: 1px solid var(--accent-grey-light);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}
.repo-buttons button {
  background-color: var(--accent-grey);
  color: var(--font-light);
  font-size: 0.8rem;
  padding: 5px 10px;
}

.toggle-star {
  border: none;
  border-right: 1px solid var(--accent-grey-light);
}

.add-to-list {
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent-grey-light);
}

/*# sourceMappingURL=styles.css.map */
